@import "tailwindcss";

@theme {
  --color-dark-bg: #1A1A1A;
  --color-dark-card: #333333;
  --color-brand-coral: #FF6B52;
}

/* Aplicando o fundo no corpo do site */
body {
  background-color: var(--color-dark-bg);
  color: white;
}