@import "tailwindcss";

@theme {
  --color-dark-bg: #1a1a1a;
  --color-dark-card: #333333;
  --color-brand-coral: #ff6b52;
}

body {
  background-color: var(--color-dark-bg);
  color: white;
}

html {
  scroll-behavior: smooth;
}
